<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@900&display=swap" rel="stylesheet">

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title>Movie Poster Grid</title>
</head>

<body>
  <div class="dark-mode-toggle">
    <label id="darkModeLabel" for="darkModeSwitch">Dark Mode</label>
    <input type="checkbox" id="darkModeSwitch" onchange="toggleDarkMode()" />
  </div>

  <h1>Movie Posters</h1>

  <input type="text" id="searchBar" class="search-bar" placeholder="Search..." />

  <div class="grid-container">
    {{ grid_items | safe }}
  </div>

  <div id="pagination-controls">
    <button onclick="changePage(-1)">Prev</button>
    <span id="page-number">1</span>
    <button onclick="changePage(1)">Next</button>
  </div>

  <!-- Lightbox -->
  <div id="lightbox" class="hidden">
    <img id="lightboxImage" src="" alt="Lightbox Image" />
    <button id="closeLightbox" onclick="closeLightbox()">Close</button>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
